* {
    /* display: flex; */
    margin: 0;
}


element.style {
    opacity: 1;
    /* transform: scale(1); */
}

#planner{
    background-size: auto;
    height: 100vh;
}

#planner img{
    background-position: center;
    width: 962px;
    height: 535px;
    margin: 220px 30px;
}

#recommand img {
    width: 981px;
    height: 755px;
    margin: 110px 30px;
}

#community img {
    width: 980px;
    height: 798px;
    margin: 90px 30px;
}

/* .wrapper.style2 {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #303030;
}

section.special, article.special {
    text-align: center;
} */

/* * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} */

/* section {
    display: block;
} */

/* .title {
    position: relative;
    
}
.second {
    
    position: relative;
}

.second img {
    width: 100%;
    /* height: 100%; 
    vertical-align: top;
} */

/* body {
    color: #fff;
    font-family: "NanumSquare",Helvetica,sans-serif;
    font-size: 20pt;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 1.65em;
} 

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

*::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} */