html {
	height: 100%;
}

.todo-wrapper {
    justify-content: center;
    margin-top: 3rem;
    min-width: 600px;
}

.todo-input-box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 3rem;
    border-radius: 12px;
    border: solid 1px #e4e4e4;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: transparent;
    border: 0;
}

/* .todo-input-box img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem 0.5rem;
    cursor: pointer;
    text-align: center;
} */

.todo-input {
    width: 39%;
    text-align: center;
    border: 0;
    outline: none;
    font-size: 1.3rem;
}

.edit-input {
    position: absolute;
    left: 500px;
    width: 400px;
    height: 2.8rem;
    margin: 0;
}

.todo-item {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    border-radius: 12px;
    border: solid 1px #e4e4e4;
    background-color: #fff;
    margin: 15px 0;
}

.todo-timeimg {
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    margin: 0 0 0 25px;
}

.todo-inputimg {
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    margin: 0 20px 0 70px;
}

.todo-time, .todo-input {
    margin: 10px;
}

.todo-item:hover .delBtn {
    opacity: 1;
}

.todo {
    font-size: 1.3rem;
    /* padding: 0 1rem; */
    width: 41%;
}

.none {
    opacity: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin: 0 0 0 22px;
    object-fit: contain;
}

.delBtn {
    opacity: 1;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin: 0 0 0 22px;
    object-fit: contain;
}

.todo-bottom {
    height: 3rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.button-group{
    flex-direction: row;
    flex-wrap: nowrap;
}

.button-group button {
    border: 1px solid #eee;
    padding: 0.2rem 0.5rem;
    margin: 0 0.5rem;
    border-radius: 8px;
    cursor: pointer;
}

.button-group button.selected {
    border: 2px solid rosybrown;
    padding: 0.2rem 0.5rem;
    margin: 0 0.5rem;
    border-radius: 8px;
}

.clear-completed-btn:hover {
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

p.info {
    margin-top: 1.5rem;
    text-align: center;
    color: #ccc;
}