html {
	height: 100%;
    width: 100%;
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    height: 100%;
    min-width: 360px;
    margin: 0 auto;
}

.content {
    border: 0;
    border-radius: 6px;
    box-shadow: 0 1px 5px 0 #d2d2d2;
    background-color: #fff;
}

.write {
    border: 0;
}

.submit {
    width: 208px;
    height: 34px;
    background-color: #ffffff;
    border: 1px solid #0d82eb;
    border-radius: 6px;
    margin: 40px auto 24px;
}