@import 'font.css';

.start,.question, .result {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background {
    width: 980px;
    height: 944px;
    margin: 90px 0 20px;
}

.textbox {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 980px;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
}

.textstart {
    font-size: 34px;
    margin: 300px 0 0;
    font-family: 'GangwonEduAll';
    line-height: 1.12;
    letter-spacing: 2.04px;
    text-align: center;
    color: #fff;
    left: 103px;
    top: 72px;
}

.startbutton {
    background-color: #949ca3; 
    font-family: 'GangwonEduAll';
    font-size: 32px;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    border: 0;
    outline: 0;
    margin: 100px auto;
    width: fit-content;
}

article {
    display: flex;
    flex-direction: column;
}

.question {
    display: none;
}

.result {
    display: none;
}

.share {
    margin: 0 auto;
}

.questionbox {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 980px;
    margin: 0 auto;
    height: 100vh;
    width: 100%;

    font-family: 'GangwonEduAll';
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: 0.9px;
    text-align: center;
    color: #fff;
}

#title {
    margin: 240px 210px 0;
}

.button {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 50px auto;
}

.resultbox {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 980px;
    margin: 100px auto;
    height: 100vh;
    width: 100%;
}

.textresult {
    width: fit-content;
    margin: 50px auto;
    font-family: 'GangwonEduAll';
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: 0.96px;
    text-align: center;
    color: #5c5c5c;    
}

#img {
    width: 550px;
    margin: 20px auto;
}


@media screen and (max-width : 980px){
    .background {
        width: 767px;
        margin: 20px auto 20px;
    }

    #title {
        font-size: 28px;
        margin: 240px 121px 0;
    }

    .resultbox {
        margin: 50px auto;
    }

    #img {
        width: 500px;
    }
}

@media screen and (max-width : 768px){
    .background {
        width: 570px;
        margin: 20px auto 20px;
        border-radius: 25px;
    }

    #title {
        font-size: 26px;
        margin: 240px 97px 0;
    }

    #img {
        width: 400px;
    }
}

@media screen and (max-width : 576px){
    .background {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    #title {
        font-size: 21px;
        margin: 240px 95px 0;
    }
}